uvicorn
fastapi
httpx
httpx_sse
google-genai
google-cloud-logging
opentelemetry-exporter-gcp-trace
opentelemetry-api
opentelemetry-sdk
google-adk==1.31.1
google-auth
pydantic
python-json-logger
a2a-sdk==0.3.25
